node-red/flows (websocket server).json
[
    {
        "id": "2981886f18875cde",
        "type": "debug",
        "z": "0884a56eb46e2082",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 220,
        "wires": []
    },
    {
        "id": "2ca5257796584a32",
        "type": "mysql",
        "z": "0884a56eb46e2082",
        "d": true,
        "mydb": "7a91416b93f39491",
        "name": "",
        "x": 1110,
        "y": 220,
        "wires": [
            [
                "2981886f18875cde"
            ]
        ]
    },
    {
        "id": "d59e210dbcc509bf",
        "type": "websocket in",
        "z": "0884a56eb46e2082",
        "d": true,
        "name": "board:client",
        "server": "",
        "client": "9ae870f71b977241",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "c16cf8dcb8b61e8f"
            ]
        ]
    },
    {
        "id": "347a81c8d334744d",
        "type": "debug",
        "z": "0884a56eb46e2082",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 260,
        "wires": []
    },
    {
        "id": "c16cf8dcb8b61e8f",
        "type": "json",
        "z": "0884a56eb46e2082",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 130,
        "y": 160,
        "wires": [
            [
                "8e04836933627f36"
            ]
        ]
    },
    {
        "id": "8e04836933627f36",
        "type": "function",
        "z": "0884a56eb46e2082",
        "name": "parseJSON",
        "func": "var data = msg.payload;\nvar inj = { payload: data.inj };\nvar id = { payload: data.id };\nvar cyc = { payload: data.cyc };\nvar shoot = { payload: data.shoot };\nvar day = { payload: data.day };\nvar mon = { payload: data.mon };\nvar year = { payload: data.year };\nvar hour = { payload: data.hour };\nvar min = { payload: data.min };\nvar sec = { payload: data.sec };\nvar date = { payload: data.date };\nvar time = { payload: data.time };\nreturn [inj, id, cyc, shoot, date, time];",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 130,
        "y": 300,
        "wires": [
            [
                "080acec5b85b5e5a"
            ],
            [
                "e3a586dd622d6052"
            ],
            [
                "14d5dcb7c2d70144"
            ],
            [
                "89a9b1281c629a7c"
            ],
            [
                "c4766988bd8cbad9"
            ],
            [
                "4b100364c32a9b08"
            ]
        ]
    },
    {
        "id": "0c7b66ad88b78b32",
        "type": "join",
        "z": "0884a56eb46e2082",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": ",",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 570,
        "y": 220,
        "wires": [
            [
                "6601218accac8c08",
                "080acec5b85b5e5a"
            ]
        ]
    },
    {
        "id": "6601218accac8c08",
        "type": "function",
        "z": "0884a56eb46e2082",
        "d": true,
        "name": "sendDB",
        "func": "msg.topic = \"INSERT INTO nodered(mc_id, last_cycle_duration, shoot, timestamp)\" + \n    \"VALUES('\" + msg.payload.id + \"','\" + msg.payload.cyc + \"', '\" + msg.payload.shoot + \"','\" + msg.payload.time + \"')\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 220,
        "wires": [
            [
                "2ca5257796584a32"
            ]
        ]
    },
    {
        "id": "e3a586dd622d6052",
        "type": "function",
        "z": "0884a56eb46e2082",
        "name": "id",
        "func": "msg.topic = \"id\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 160,
        "wires": [
            [
                "0c7b66ad88b78b32"
            ]
        ]
    },
    {
        "id": "89a9b1281c629a7c",
        "type": "function",
        "z": "0884a56eb46e2082",
        "name": "shoot",
        "func": "msg.topic = \"shoot\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 240,
        "wires": [
            [
                "0c7b66ad88b78b32"
            ]
        ]
    },
    {
        "id": "14d5dcb7c2d70144",
        "type": "function",
        "z": "0884a56eb46e2082",
        "name": "cyc",
        "func": "msg.topic = \"cyc\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 200,
        "wires": [
            [
                "0c7b66ad88b78b32"
            ]
        ]
    },
    {
        "id": "61c4d40d3731c698",
        "type": "rbe",
        "z": "0884a56eb46e2082",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 470,
        "y": 300,
        "wires": [
            [
                "0c7b66ad88b78b32"
            ]
        ]
    },
    {
        "id": "4b100364c32a9b08",
        "type": "function",
        "z": "0884a56eb46e2082",
        "name": "time",
        "func": "msg.topic = \"time\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 360,
        "wires": [
            [
                "a00196fc9e528b71"
            ]
        ]
    },
    {
        "id": "c4766988bd8cbad9",
        "type": "function",
        "z": "0884a56eb46e2082",
        "name": "date",
        "func": "msg.topic = \"date\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 320,
        "wires": [
            [
                "a00196fc9e528b71"
            ]
        ]
    },
    {
        "id": "a00196fc9e528b71",
        "type": "join",
        "z": "0884a56eb46e2082",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": " ",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 450,
        "y": 340,
        "wires": [
            [
                "61c4d40d3731c698"
            ]
        ]
    },
    {
        "id": "080acec5b85b5e5a",
        "type": "trigger",
        "z": "0884a56eb46e2082",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "0",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "1",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 740,
        "y": 260,
        "wires": [
            [
                "347a81c8d334744d"
            ]
        ]
    },
    {
        "id": "435b8280084ed0e3",
        "type": "websocket in",
        "z": "0884a56eb46e2082",
        "name": "Websocket Server",
        "server": "2fa3cc6b3a238722",
        "client": "",
        "x": 330,
        "y": 80,
        "wires": [
            [
                "c16cf8dcb8b61e8f"
            ]
        ]
    },
    {
        "id": "7a91416b93f39491",
        "type": "MySQLdatabase",
        "name": "mySql",
        "host": "localhost",
        "port": "3306",
        "db": "test",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "9ae870f71b977241",
        "type": "websocket-client",
        "path": "ws://192.168.200.252:7000/",
        "tls": "",
        "wholemsg": "false",
        "hb": "0",
        "subprotocol": ""
    },
    {
        "id": "2fa3cc6b3a238722",
        "type": "websocket-listener",
        "path": "/",
        "wholemsg": "false"
    }
]
