node-red/flows.json
[
    {
        "id": "ef150608c0e07e9d",
        "type": "debug",
        "z": "84635b615d072933",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 60,
        "wires": []
    },
    {
        "id": "aa0690eb18cdb2b8",
        "type": "function",
        "z": "84635b615d072933",
        "name": "parseJSON",
        "func": "var data = msg.payload;\nvar act = { payload: data.action };\nvar id = { payload: data.id };\nvar inj = { payload: data.inj };\nvar cyc = { payload: data.cyc };\nvar ip = { payload: data.ip };\nreturn [inj, act, id, cyc, ip];",
        "outputs": 5,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 130,
        "y": 360,
        "wires": [
            [
                "9e54df47d7b0a286"
            ],
            [
                "3c4af314b6310330"
            ],
            [
                "faa56da50f8356ee"
            ],
            [
                "321b15b0afbff1f5"
            ],
            [
                "f31fd30afd1b2244"
            ]
        ]
    },
    {
        "id": "1593e7e8071975e1",
        "type": "join",
        "z": "84635b615d072933",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": ",",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 530,
        "y": 400,
        "wires": [
            [
                "9e54df47d7b0a286"
            ]
        ]
    },
    {
        "id": "faa56da50f8356ee",
        "type": "function",
        "z": "84635b615d072933",
        "name": "id",
        "func": "msg.topic = \"id\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 360,
        "wires": [
            [
                "1593e7e8071975e1"
            ]
        ]
    },
    {
        "id": "321b15b0afbff1f5",
        "type": "function",
        "z": "84635b615d072933",
        "name": "cycletime",
        "func": "msg.topic = \"cycletime\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 400,
        "wires": [
            [
                "1593e7e8071975e1"
            ]
        ]
    },
    {
        "id": "9e54df47d7b0a286",
        "type": "trigger",
        "z": "84635b615d072933",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "0",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "1",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 580,
        "y": 340,
        "wires": [
            [
                "6c2671d5939e6b53",
                "cf90dbafac657e1d"
            ]
        ]
    },
    {
        "id": "693a6a74604e6df1",
        "type": "websocket in",
        "z": "84635b615d072933",
        "name": "Websocket Server",
        "server": "2fa3cc6b3a238722",
        "client": "",
        "x": 90,
        "y": 60,
        "wires": [
            [
                "e60a8547ca310bb1"
            ]
        ]
    },
    {
        "id": "191fd85e1ef6c05b",
        "type": "http request",
        "z": "84635b615d072933",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://apik.adyawinsa.com/smsd/api/arduino.php",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1050,
        "y": 220,
        "wires": [
            [
                "ee325b3483d6fa34"
            ]
        ]
    },
    {
        "id": "ee325b3483d6fa34",
        "type": "debug",
        "z": "84635b615d072933",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 220,
        "wires": []
    },
    {
        "id": "6eff259d04a7d654",
        "type": "json",
        "z": "84635b615d072933",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 890,
        "y": 220,
        "wires": [
            [
                "191fd85e1ef6c05b"
            ]
        ]
    },
    {
        "id": "3c4af314b6310330",
        "type": "function",
        "z": "84635b615d072933",
        "name": "action",
        "func": "msg.topic = \"action\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 320,
        "wires": [
            [
                "1593e7e8071975e1"
            ]
        ]
    },
    {
        "id": "9ddd225f5017ccd6",
        "type": "trigger",
        "z": "84635b615d072933",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 710,
        "y": 60,
        "wires": [
            [
                "ef150608c0e07e9d",
                "6eff259d04a7d654"
            ]
        ]
    },
    {
        "id": "e60a8547ca310bb1",
        "type": "function",
        "z": "84635b615d072933",
        "name": "parse (shoot and temp)",
        "func": "var data = JSON.parse(msg.payload);\nvar obj = data.action;\nvar a;\nvar b;\nif (obj == \"temp\") {\n    a = { payload: data };\n} else if (obj == \"shoot\") {\n    b = { payload: data };\n}\nreturn [a, b];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 160,
        "wires": [
            [
                "36ce21e06a326063"
            ],
            [
                "aa0690eb18cdb2b8"
            ]
        ]
    },
    {
        "id": "6c2671d5939e6b53",
        "type": "debug",
        "z": "84635b615d072933",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 340,
        "wires": []
    },
    {
        "id": "f31fd30afd1b2244",
        "type": "function",
        "z": "84635b615d072933",
        "name": "ip",
        "func": "msg.topic = \"ip\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 440,
        "wires": [
            [
                "1593e7e8071975e1"
            ]
        ]
    },
    {
        "id": "36ce21e06a326063",
        "type": "function",
        "z": "84635b615d072933",
        "name": "(temp) split by id",
        "func": "var data = msg.payload;\nvar obj = data.id;\nvar a;\nvar b;\nvar c;\nvar d;\nif (obj == \"1000059\") {\n    a = { payload: data };\n} else if (obj == \"1000078\") {\n    b = { payload: data };\n} else if (obj == \"1000103\") {\n    c = { payload: data };\n} else if (obj == \"1000104\") {\n    d = { payload: data };\n}\nreturn [a, b, c, d];",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 100,
        "wires": [
            [
                "9ddd225f5017ccd6"
            ],
            [
                "bc519608594d1219"
            ],
            [
                "b0b21f2a06a5f830"
            ],
            [
                "56dd590e68cb1d8c"
            ]
        ]
    },
    {
        "id": "bc519608594d1219",
        "type": "trigger",
        "z": "84635b615d072933",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 710,
        "y": 100,
        "wires": [
            [
                "ef150608c0e07e9d",
                "6eff259d04a7d654"
            ]
        ]
    },
    {
        "id": "cf90dbafac657e1d",
        "type": "function",
        "z": "84635b615d072933",
        "name": "block 0",
        "func": "var data = msg.payload;\nvar cyc = data.cycletime;\nif (cyc != 0) {\n    var message = { payload: data };\n}\nreturn message;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 280,
        "wires": [
            [
                "6eff259d04a7d654"
            ]
        ]
    },
    {
        "id": "b0b21f2a06a5f830",
        "type": "trigger",
        "z": "84635b615d072933",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 710,
        "y": 140,
        "wires": [
            [
                "6eff259d04a7d654"
            ]
        ]
    },
    {
        "id": "56dd590e68cb1d8c",
        "type": "trigger",
        "z": "84635b615d072933",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 710,
        "y": 180,
        "wires": [
            [
                "6eff259d04a7d654"
            ]
        ]
    },
    {
        "id": "2fa3cc6b3a238722",
        "type": "websocket-listener",
        "path": "/",
        "wholemsg": "false"
    }
]
