node-red/flows.txt
[
    {
        "id": "ee4bc3d7a440f5c0",
        "type": "debug",
        "z": "22b9e648b1247884",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 300,
        "wires": []
    },
    {
        "id": "fa564eb314da88e4",
        "type": "mysql",
        "z": "22b9e648b1247884",
        "mydb": "7a91416b93f39491",
        "name": "",
        "x": 730,
        "y": 300,
        "wires": [
            [
                "ee4bc3d7a440f5c0"
            ]
        ]
    },
    {
        "id": "480fc49a6c0d87e8",
        "type": "websocket in",
        "z": "22b9e648b1247884",
        "name": "board:client",
        "server": "822e26e97ced72dc",
        "client": "",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "7db7853cb643952e"
            ]
        ]
    },
    {
        "id": "d82a604c9bdc1f1d",
        "type": "debug",
        "z": "22b9e648b1247884",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 440,
        "wires": []
    },
    {
        "id": "7db7853cb643952e",
        "type": "json",
        "z": "22b9e648b1247884",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 290,
        "y": 300,
        "wires": [
            [
                "365142d3060d3afd"
            ]
        ]
    },
    {
        "id": "365142d3060d3afd",
        "type": "function",
        "z": "22b9e648b1247884",
        "name": "function 2",
        "func": "var data = msg.payload;\nvar id = { payload: data.id };\nvar cla = { payload: data.cla };\nvar inj = { payload: data.inj };\nvar cyc = { payload: data.cyc };\nreturn [id, cla, inj, cyc];",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 400,
        "wires": [
            [
                "5736e22879708105"
            ],
            [],
            [
                "a7faa6df6440dfe5",
                "5736e22879708105"
            ],
            [
                "a7faa6df6440dfe5"
            ]
        ]
    },
    {
        "id": "a7faa6df6440dfe5",
        "type": "trigger",
        "z": "22b9e648b1247884",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "0",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "1",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 340,
        "y": 420,
        "wires": [
            [
                "e11e932aa72e49b5"
            ]
        ]
    },
    {
        "id": "e11e932aa72e49b5",
        "type": "join",
        "z": "22b9e648b1247884",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": ",",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 510,
        "y": 400,
        "wires": [
            [
                "0154c26c78122a08",
                "d82a604c9bdc1f1d"
            ]
        ]
    },
    {
        "id": "5736e22879708105",
        "type": "trigger",
        "z": "22b9e648b1247884",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "0",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "1",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 340,
        "y": 380,
        "wires": [
            [
                "e11e932aa72e49b5"
            ]
        ]
    },
    {
        "id": "0154c26c78122a08",
        "type": "function",
        "z": "22b9e648b1247884",
        "name": "sendDB1",
        "func": "msg.topic = \"INSERT INTO nodered(mc_id, last_cycle_duration)\" + \"VALUES('\" + msg.payload[0] + \"','\" + msg.payload[1] + \"')\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 300,
        "wires": [
            [
                "fa564eb314da88e4"
            ]
        ]
    },
    {
        "id": "7a91416b93f39491",
        "type": "MySQLdatabase",
        "name": "mySql",
        "host": "localhost",
        "port": "3306",
        "db": "test",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "822e26e97ced72dc",
        "type": "websocket-listener",
        "path": "ws://192.168.1.139:7000/",
        "wholemsg": "false"
    }
]
